<div nz-row style="margin-left: 50px;margin-right: 50px;margin-top: 50px;">
  <div nz-col nzSpan="24">

    Tabla:
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione una tabla" [(ngModel)]="tableSelected">
      <nz-option nzLabel="Jack" nzValue="Table 1"></nz-option>
    </nz-select>

    <button nz-button nzType="primary" (click)="openConectionModal()">Conexión</button>

  </div>
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="[]">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </nz-table>
  </div>
</div>


