<div nz-row style="margin-left: 50px;margin-right: 50px;margin-top: 50px;">
  <div nz-col nzSpan="24">

    Tabla:
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione una tabla" [(ngModel)]="tableSelected" style="width: 150px;" >
      <nz-option *ngFor="let item of tableList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
    </nz-select>

    <button nz-button nzType="primary" (click)="openConectionModal()" (emiteConection)="onEmitterConection($event)"  >Conexión</button>

  </div>
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="[]">
      <thead>
        <tr>
          <th>Id</th>
          <th>Campo Entidad</th>
          <th>Tipo Dato Entidad</th>          
          <th>Campo BD</th>
          <th>Tipo Dato BD</th>
          <th>Longitud Dato BD</th>
          <th>Precision Dato BD</th>
          <th>Es Null BD</th>
        </tr>
      <tbody>
      </tbody>
    </nz-table>
  </div>
</div>


